* {
  margin: 0;
}

/*color: rgb(216, 237, 243);*/

#App-Background {
  width: 100%;
  height: auto;
  background-color: #232b2b;
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}

 

#top-screen-box {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  
}

#scroll-instruction-container {
  position: absolute;
  width: 300px;
  height: 200px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroll-txt {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll-icon {
  width: 100%;
  color: white;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#AboutME-Container {
  width: 1200px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

#test-text {
  width: 900px;

  position: relative;
  height: auto;
  text-align: justify;
}

#ninja-star {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -20px;
  left: -25px;
  color: #232b2b;
}

#ninja-star img{
  width: 100%;
  aspect-ratio: 1/1;
}

#copy-title {
  position: absolute;

  top: 0;
  height: auto;
}

#getPhone {
  cursor: pointer;
}


#test-text p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
}
#test-text h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 690;
  font-size: 38px;
  color: white;
}
#img-container h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  padding-left: 20px;
  font-size: 28px;
  position: absolute;
  color: white;
}

#img-container {
  cursor: pointer;
  width: 200px;
  position: relative;
  height: 200px;
  border-radius: 5px;

}

#copy-title h1 {
  color: #E0115F;
  z-index: 2;
  font-weight: 705;
}


#img-container img {
  width: 100%;
  border-radius: 7.5px;
  aspect-ratio: 1 / 1;
}

#boulder-txt {
  position: relative;
}
#boulder-emoji {
  position: absolute;
  left: 40%;
  bottom: -30px;
  opacity: 0;
  font-size: 30px;
  transform: rotate(90deg);
}

#laboratory-txt {
  position: relative;
}
#laboratory-emoji {
  position: absolute;
  left: 40%;
  bottom: -30px;
  opacity: 0;
  font-size: 30px;
}
#skills-txt {
  position: absolute;
  left: 60%;
  width: 300px;
  bottom: -100px;
  font-size: 30px;
}

#About-Me-Pin-End {
  width: 100%;
  height: 1000px;
  background-color: #232b2b;
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#contact-bar-screen {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-reveal {
  width: 400px;
  height: 120px;
  position: relative;
}

#get-in-touch {
  position: absolute;
  top: -50px;
  width: 200px;
  height: auto;
  display: flex;

  align-items: center;
  justify-content: center;
  left: 100px;

}

#get-in-touch p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

#contact-icon-holder {
  width: 100%;
  height: 50%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#broken-Mail, #broken-Github, #broken-Linkedin, #broken-X {
  position: absolute;
  bottom: 1px;
}

#broken-Mail {
  right: 31.5%;
  transform: rotate(75deg);
}

#broken-Linkedin {
  right: 28.85%;
  transform: rotate(33deg);
}

#broken-Github {
  bottom: 16.1%;
  left: 34.5%;
  transform: rotate(-17deg);
}

#getMail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  cursor: pointer;
  height: auto;
  position: relative;
}

#clipboardContainer {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 300px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

#relative-container {
  position: relative;
  height: 100%;
  width: 100%;
}


#copied-txt {
  position: absolute;
  display: flex;
  font-size: larger;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 130px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

a, a:hover {
  cursor: pointer;
  color: black;
}

#copy-outline {
  padding-bottom: 5px;
  margin-right: 15px;
  justify-self: flex-end;
  background-color: rgba(220, 220, 220, 0.277);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 7.5px;
  border: 1px solid black;
}

#email-flex {
  width: 100%;
  height: 100%;
  display: flex ;
  align-items: center;
  justify-content: space-evenly;
}

#email {
  padding-top: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 15px;
  justify-self: flex-start;
  z-index: 1;
}


.progress-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #E0115F;
  transform-origin: 0%;
}

#mySkillsScreen {
  height: 200vh;
  width: 100%;
}

#hundredvhvw {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pinned-skills-screen {
  width: 1200px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}

#my-skills-txt {
  height: 10%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#my-skills-txt h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: white;
}

#map-technologoes {
  width: 100%;
  height: 90%;
  background-color: rgb(254, 254, 254);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 7.5px;
}

#languages-container, #library-container {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#img-container-tech {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  position: relative;
}

#absoluteName {
  position: absolute;
  bottom: -40px;
  background-color: rgb(43, 43, 43);
  border-radius: 5px;
  width: 125px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#absoluteName p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
}

#language-txt, #library-txt {
  height: auto;
  width: 100%;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#img-container-tech img {
  width: 100%;
  border-radius: 7.5px;
  aspect-ratio: 1 /1;
}

#language-txt h3, #library-txt h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 26px;
}

#JAVASCRIPT, #REACT, #SEMANTIC {
  border-radius: 7.5px;
}

#Tech-Project-Spacer {
  height: 400px;
}



@media only screen  and (max-width: 1200px) {

  #test-text p {
    font-size: 20px;
 
  }
  #pinned-skills-screen {
    width: 100vw;
  }

  #my-skills-txt {
    width: 70%;
  }

  #test-text {
    width: 700px;
  }
  #test-text h1 {
    font-size: 34px;
  }

  #img-container {
    width: 150px;
    height: 150px;
  }

  #AboutME-Container {
    width: 100%;
  }

}

@media only screen  and (max-width: 900px) {
  #AboutME-Container {
    flex-direction: column;
  }
  #map-technologoes {
    width: 90%;
  }

  #test-text {
    width: 500px;
  }

  #img-container-tech {
    width: 100px;
    height: 100px;
  }

  #absoluteName {
    width: 100px;
  }

  #absoluteName p {
    font-size: 14px;
  }

}


@media only screen  and (max-height: 600px) {
  #map-technologoes {
    width: 90%;
    height: 400px;
  }

  #Tech-Project-Spacer {
    height: 800px;
  }
}


@media only screen  and (max-height: 300px) {

 #Tech-Project-Spacer {
    height: 1000px;
  }
}

