#projects-screen {
    height: 150vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#project-list-container {
    min-height: 100vh;
    max-height: 200vh;
    border-radius: 5px;
    width: 1200px;
    overflow: hidden;
    border-top: 2px solid rgb(16, 16, 16);

  
    
}

#project-bar {
    width: 100%;
    height: 125px;
    background-color: white;
    border-bottom: 2px solid rgb(16, 16, 16);
    display: flex;
    align-items: center;
}


#handleClick {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plus-container, #minus-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 5px;
    font-size: 30px;
}

#minus-container {
    font-size: 40px;
}

#project-heading, #project-keys, #project-button-container {
    height: 100%;
    display: flex;
    align-items: center;
}

#project-heading {
    flex: 1 0 30%;
    justify-content: flex-start;
    background-color: white;
    padding-left: 2%;
}

#project-heading h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

#project-keys {
    flex: 1 0 60%;
    justify-content: flex-start;
    background-color:white;
}

#project-keys p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

#project-button-container {
    flex: 1 0 10%;
    justify-content: center;
    background-color: white;
}

#more-info {
    height: 150px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

#more-info-txt {
    height: 100%;
    flex: 1 0 60%;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}



#navigation-container {
    height: 100%;
    flex: 1 0 40%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

#project-img {
    border: 1px solid black;
    height: 80%;
    width: 50%;
}

#source-code {
    border: 1px solid black;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}



