#projects-screen {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects-title {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-title h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: white;
}

#project-list-container {
    min-height: 50vh;
    max-height: 200vh;
    border-radius: 5px;
    width: 1200px;
    overflow: hidden;
    border-top: 2px solid rgb(16, 16, 16);

}

#project-bar {
    width: 100%;
    height: 125px;
    background-color: white;
    border-bottom: 2px solid rgb(16, 16, 16);
    display: flex;
    align-items: center;
}


#handleClick {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plus-container, #minus-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 5px;
    font-size: 30px;
}

#minus-container {
    font-size: 40px;
}

#project-heading, #project-keys, #project-button-container {
    height: 100%;
    display: flex;
    align-items: center;
}

#project-heading {
    flex: 1 0 30%;
    justify-content: flex-start;
    background-color: white;
    padding-left: 2%;
}

#project-heading h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

#project-keys {
    flex: 1 0 60%;
    justify-content: flex-start;
    background-color:white;
}

#project-keys p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

#project-button-container {
    flex: 1 0 10%;
    justify-content: center;
    background-color: white;
}

#more-info {
    height: 150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

#more-info-txt {
    height: 100%;
    flex: 1 0 60%;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    background-color: #e0116026;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}



#navigation-container {
    height: 100%;
    flex: 1 0 40%;
    background-color: #870a3a;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

#project-img-container {
    position: relative;
    height: 80%;
    width: 50%;

}

#project-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#source-code {
    cursor: pointer;
    height: 40%;
    flex-direction: column;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    justify-content: center;
    width: 60px;
}

#source-code p {
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: flex-start;
    justify-content: center;
}
#source-code a {
    color: white;
}

#overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0px;
}


#overlay:hover {
    position: absolute;
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.665);
}





@media only screen  and (max-width: 1200px) {

    #project-list-container {
        width: 90vw;
    }

}


@media only screen  and (max-width: 1000px) {

    #project-keys {
        display: none;
    }

    #project-list-container {
        width: 600px;
    }

    #project-bar {
        justify-content: space-evenly;
    }
    #project-heading{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #more-info {
        height: 300px;
        flex-direction: column;
    }
    #navigation-container {
        height: 50%;
        width: 100%;
    }

    #project-img-container {
        width: 200px;
        height: 100px;
    }


}