* {
  margin: 0;
}

#App-Background {
  width: 100%;
  height: auto;
  background-color: #01182f;
  
}

#top-screen-box {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  
}

#AboutME-Container {
  width: 1200px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

#test-text {
  width: 900px;
  height: auto;
  text-align: justify;
}

#test-text p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: rgb(216, 237, 243);
}
#test-text h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: rgb(216, 237, 243);
}
#img-container h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  padding-left: 20px;
  font-size: 28px;
  position: absolute;
  color: rgb(216, 237, 243);
}

#img-container {
  width: 200px;
  position: relative;
  height: 200px;
  border-radius: 5px;

}

#img-container img {
  width: 100%;
  border-radius: 7.5px;
  aspect-ratio: 1 / 1;
}

#boulder-txt {
  position: relative;
}
#boulder-emoji {
  position: absolute;
  left: 40%;
  bottom: -30px;
  opacity: 0;
  font-size: 30px;
  transform: rotate(90deg);
}

#laboratory-txt {
  position: relative;
}
#laboratory-emoji {
  position: absolute;
  left: 40%;
  bottom: -30px;
  opacity: 0;
  font-size: 30px;
}
#skills-txt {
  position: absolute;
  left: 60%;
  width: 300px;
  bottom: -100px;
  font-size: 30px;
}

#About-Me-Pin-End {
  width: 100%;
  height: 1000px;
  background-color: #01182f;
}

#contact-bar-screen {
  width: 100%;
  height: 300px;
  background-color: #173f67;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-reveal {
  width: 400px;
  height: 120px;
  position: relative;
}

#contact-icon-holder {
  width: 100%;
  height: 50%;
  background-color: rgb(216, 237, 243);
  border-radius: 5px;
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#broken-Mail, #broken-Github, #broken-Linkedin, #broken-X {
  position: absolute;
  bottom: 1px;
}

#broken-Mail {
  right: 31.5%;
  transform: rotate(75deg);
}

#broken-Linkedin {
  right: 28.85%;
  transform: rotate(33deg);
}

#broken-Github {
  bottom: 16.1%;
  left: 34.5%;
  transform: rotate(-17deg);
}

#getMail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
}

#clipboardContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  background-color: hotpink;
}

#relative-container {
  position: relative;
}
#square {
  position: absolute;
  transform: rotate(45deg);
  height: 20px;
  width: 20px;
  left: 27.5%;
  top: -10.5px;
  background-color: hotpink;
}

#email-flex {
  width: 100%;
  height: 100%;
  display: flex ;
  align-items: center;
  justify-content: space-evenly ;
}

#email {
  padding-top: 10px;
  z-index: 1;
}


.progress-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: hotpink;
  transform-origin: 0%;
}

#spacer {
  height: 200vh;
  width: 100%;
}